<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fullstack Engineer - Bhargav Shukla</title>
</head>
<body>
    <main>
        <h1>
            Hello world! I'm Bhargav Shukla. <span>👋</span>
        </h1>
        <p>I'm an AWS Certified Fullstack Engineer specialising in Python, JavaScript, and Docker.</p>
        <p>Currently, I'm a Senior Software Engineer at Fulfillment IQ.</p>
        <p>Reach out for mentorship opportunities.</p>
    </main>
</body>
</html>