<!-- TODO Add article title, summary, article tags, date, author, views, like counter and share menu -->
<article>
    {{ content | safe }}
</article>

<!-- TODO Add previous and next article links -->