---
layout: "base.njk"
---

<!-- TODO Add article title, summary, article tags, date, author, views, like counter and share menu -->
<h1>{{ title }}</h1>
<article>
    {{ content | safe }}
</article>
<!-- TODO Add previous and next article links -->